* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: roboto, sans-serif;
}
h1 {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: rgb(13, 125, 190);
  color: white;
  height: 100px;
  width: 100%;
}
.cards {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  border-radius: 10px;
  width: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-img {
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
  background-image: url("http://placekitten.com/200/300");
  height: 200px;
  width: 100%;
}
.card-body {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.card-body h2 {
  margin: 10px 0px;
  height: 2em;
}
.card-button {
  margin-top: 1em;
  font-size: 1em;
  color: white;
  border: none;
  border-radius: 10px;
  height: 50px;
  background-color: rgb(106, 200, 232) ;
  width: 90%;
}

.card-button:hover{
  background-color: lightblue ;
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.card-description {
  height: 5em;
}
